@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

:hover::-webkit-scrollbar-thumb {
  background-color: slategray; /* Change to your preferred scrollbar color */
}

body{
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}